body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-height: 100vh;
}

.hide {
  display: none;
}

.catalog__container {
  max-width: 90%;
  margin: auto;
}

.catalog__body {
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: 25% auto;
      grid-template-columns: 25% auto;
  background-color: aliceblue;
  padding: 4px;
}

.catalog__cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.catalog__card {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  min-height: 350px;
}

.card__product-id {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  color: #a19f9f;
  font-weight: 300;
}

.card__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  margin: 5px 0;
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__price {
  margin-bottom: 5px;
}

.card__button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 5px 25px;
  cursor: pointer;
}

.button-show-more {
  background: #a2dff9;
  color: #222d4a;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  padding: 0 32px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  margin: 10px 0 0 auto;
}

.button-show-more .but-img {
  margin-right: 10px;
}
