body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}


.catalog {

    &__container {
        max-width: 1140px;
        margin: auto;
    }

    &__body {
        display: grid;
        grid-gap: 4px;
        grid-template-columns: 25% auto;
        background-color: aliceblue;
        padding: 4px;

        @media (max-width:534px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // &__filter {}

    &__cards {
        width: 100%;
        display: grid;
        grid-gap: 4px;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width:880px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:425px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        min-height: 350px;
    }
}

.card {

    &__product-id {
        align-self: flex-end;
        font-size: 14px;
        color: rgb(161, 159, 159);
        font-weight: 300;
        min-height: 16px;
    }

    &__img {
        align-self: center;

        img {
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin: 5px 0;
        max-height: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__price {
        margin-bottom: 5px;
    }

    &__button {
        max-width: fit-content;
        padding: 5px 25px;
        cursor: pointer;
        border-radius: 5px;
    }
}

.button-show-more {
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 32px;
    cursor: pointer;
    margin: 10px 0 0 auto;
    margin-bottom: 40px;

    .but-img {
        margin-right: 10px;
    }
}

.modal-body {
    background-color: aliceblue;
}

.cart {

    &__body {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__row {
        border-radius: 10px;
        background-color: #fff;
        flex: 1;
        padding: 5px 25px;
        display: flex;
        margin: 5px auto;
        justify-content: space-around;
        align-items: center;
        border: 1px solid rgb(223, 223, 223);

    }

    &__del-btn {
        margin-right: 10px;
        border-radius: 5px;
        width: 25px;

        &:hover {
            background-color: rgb(247, 247, 247);
        }

    }

    &__img {
        padding: 0 10px;

        img {
            max-height: 80px;
        }
    }

    &__title {
        flex: 1;
        margin: 0 10px;
        width: 350px;
    }

    &__min-btn {
        border-radius: 5px;
        width: 25px;

        &:hover {
            background-color: rgb(247, 247, 247);
        }
    }

    &__amount {
        min-width: 40px;
        text-align: center;
    }

    &__plus-btn {
        border-radius: 5px;
        width: 25px;

        &:hover {
            background-color: rgb(247, 247, 247);
        }
    }

    &__price {
        margin: 0 10px;
        min-width: 72px
    }

    &__total {
        padding: 10px;
        margin-left: auto;
        font-size: 18px;
        font-weight: bold;
    }
}